body {
    background-color: #9384D1;
    background-image: url("https://images.unsplash.com/photo-1624359136353-f60129a367b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}